<!-- modified 2020.8.6 -->
{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts%}
    
    <div class="row">
        <div class='col bg-secondary'>
            <a class ='h3' href="{% url 'post_detail' pk=post.pk %}" id='da'>{{ post.title }} </a>
            <a href="{% url 'post_detail' pk=post.pk %}" id='da' >
                {% if post.approved_comments.count %}
                    >> {{post.approved_comments.count}} Comments
                {% else %}
                    >> 0 Comments
                {% endif %}
            </a>
            <span style='float: right; color: white;'>{{ post.created_date }}</span>
        </div>
    </div>
    &nbsp;
    {% empty %}
    <div>No post with your request</div>
    {% endfor %}

    {% include 'blog/pagination.html' with page=posts%}
{% endblock %}