<!-- modified 2020.8.6 -->
{% extends 'blog/base.html' %}
{% block content %}
    {% for post in post_list %}
    <a href="/post/{{post.id}}" style="text-decoration : none">
        <div class="row">
            <div class='col h3 bg-secondary text-white'>{{ post.title }}</div>
        </div>
    </a>
    <div class='row'>
        <!-- <div class='col'>{{ post.text|linebreaksbr}}</div> -->
    </div>
    <div class='row'>
        <div class="col text-right">{{ post.created_date }}</div>
    </div>
    {% empty %}
    <div>No post with your request</div>
    {% endfor %}
{% endblock %}